*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif
}
.container{
  padding: 20px 150px;
}
.main{
  /* border: 1px solid red; */
  width: 40%;
  margin: auto;
  text-align: center;
}
img{
  width: 194px;
  height: 150px;
  text-align: center;
}
input{
  width: 100%;
  margin-bottom: 30px;
  padding:7px;
  font-size: 20px;
  outline: none;
  margin-top: 5px;
  border-radius: 7px;
  border: 1px solid gray;
}
input[type="submit"]{
  width: 100%;
  background-color:#ff9400;
  border: none;
  cursor: pointer;
  color:white;
  margin-bottom: 0px;
  font-size: 18px;
}
input[type="submit"]:hover{
 color:#ff9400;
}
form{
  text-align: left;
}
.bottom{
  text-align: center;
  margin-top: 20px;
}
.bottom img{
  height: 25px;
  width: 100%;
  margin-top: 20px;
  margin-bottom:13px;
}
#apple{
  background-color: black;
  font-size: 18px;
}
.apple-bottom{
  text-align:center;
  margin-top: 20px;
}
form p,form a{
  color:#ff9400;
  font-size:15px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
}
form h4{
  font-size: 15px;
  color:rgb(54, 52, 52);
}
hr{
  margin-top: 80px;
  border: 1px solid rgb(238, 236, 236);
}
.copy{
  text-align: center;
  margin-top: 60px;
}
.copy p{
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}
.copy h4{
  color: rgb(76, 73, 73);
}